$label-color: rgb(129, 137, 152);
$border-color: #c3c3c3;
$input-icon-bg: #808998;
$body-bg-color: #eff0f7;
$form-bg-color: white;
$item-border-color: #c3c3c3;

$black: black;
$light: rgb(129, 137, 152);

@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: $body-bg-color;
}

.btn:focus {
  box-shadow: none;
}

//===============================
// Form wrapper css
//===============================
.main-form-wrapper {
  width: fit-content;
  opacity: 0;
  transition: all 1s ease;
  @include mobile {
    width: 100%;
  }
}

.indicator-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.indicator-btn {
  border: 1px solid $item-border-color;
  border-radius: 50%;
  padding: 0;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  color: $item-border-color;
  background-color: transparent;
  font-weight: bold;
  font-size: 12px;
  transition: all 0.3s ease;
}

.indicator-btn:focus {
  outline: none;
}
.indicator-btn:hover {
  color: darken($item-border-color, 10%);
  border-color: darken($item-border-color, 10%);
}

.indicator-active {
  border-color: #00918e;
  color: white;
  background-color: #00918e;
}

.indicator-active:hover {
  border-color: lighten(#00918e, 5%);
  color: white;
  background-color: lighten(#00918e, 5%);
}

form {
  margin-top: 15px;
  margin-bottom: 50px;
  width: 550px;
  border-radius: 8px;
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15);
  background-color: $form-bg-color;
  padding-bottom: 40px;
  position: relative;
  overflow: hidden;
  transition: height 0.2s ease;

  @include mobile {
    width: 100%;
  }
}

//==============================
//Form bottom navigation buttons
//==============================
.form-button-group {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  z-index: 99;

  @include mobile {
    padding-left: 30px;
    padding-right: 30px;
  }

  button {
    margin-left: 18px;
    width: 50%;
    font-size: 14px;

    &:first-child {
      margin-left: 0;
    }
    @include mobile {
      font-size: 12px;
    }
  }
}

.form-button-group {
  button[data-target="next"] {
    background-color: #00918e;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    &:hover {
      background-color: lighten(#00918e, 5%);
    }
  }
}

.next-inactive {
  border: 2px solid $border-color !important;
  color: $border-color !important;
  background-color: transparent !important;
}

//==============================
//Form's inner section / tab css
//==============================
.section-wrapper {
  width: 100%;
  height: 100%;
}

.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  h3 {
    margin-bottom: 0;
    font-size: 18px;

    font-weight: bold;
  }
}

.calc-section {
  background-color: $form-bg-color;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;

  @include mobile {
    padding-left: 30px;
    padding-right: 30px;
  }
}

#section-1 {
  opacity: 1;
  z-index: 999;
}
//============================================
//Label, input, input icons and other elements
//============================================
label {
  margin: 0;
  margin-right: 15px;
  font-size: 12px;
  font-weight: 600;
  color: $label-color;
}

label[for="prepared-by"],
label[for="seller-name"],
label[for="property-address"],
label[for="select-county"] {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
  color: #343a40;
  @include mobile {
    font-size: 12px;
  }
}
input,
select {
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0;
  border: 1px solid #ccc;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  width: 190px;
  transition: all 0.3s ease;

  @include mobile {
    width: 100% !important;
  }
}

input[readonly] {
  background-color: #eeeeee;
}

input[type="date"] {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

input:focus,
select:focus {
  outline: none;
  border-color: #00918e;
  box-shadow: 0 0 0 1px #00918e inset;
}

.amount-info-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .input-wrapper {
    padding-top: 0;
  }
}
.input-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 20px;
  @include mobile {
    display: block;
    width: 100%;
    padding-bottom: 10px;
  }
}

.select-wrapper select,
.date-wrapper input,
.days-wrapper input {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  padding-right: 0;
  width: 215px;
}

.input-wrapper.wide-input {
  display: block;
  width: 100%;
  input,
  select {
    width: 100%;
  }
}

.input-with-header {
  @include mobile {
    padding-bottom: 5px;
  }
  h5 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 10px;
    @include mobile {
      padding-bottom: 0;
    }
  }
}

input.reusable-cost-name {
  border: none;
  padding-left: 0;
  padding: 0;
}

.field-wrapper {
  display: flex;
  flex-direction: row-reverse;
  .input-icon {
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid #ccc;
    border-right: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

    svg {
      color: #555;
      height: 14px;
    }
  }
}

.select-wrapper .field-wrapper,
.date-wrapper .field-wrapper,
.days-wrapper .field-wrapper {
  position: relative;
  display: block;
  .input-icon {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 25px;
    border: none;
    border: 1px solid #ccc;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.calendar-icon,
.down-arrow-icon {
  pointer-events: none;
}
.day-icon {
  width: 60px !important;
}

// Result section css

#section-4 {
  .section-header {
    padding-bottom: 10px;
  }
}

.result-total {
  font-size: 16px;
  color: #6b7c93;
  font-weight: bold;
  vertical-align: middle !important;
  &:first-child {
    padding-top: 15px;

    @include mobile {
      padding-top: 10px;
    }
  }

  @include mobile {
    font-size: 12px !important;
  }
}

.result-total-amount {
  margin: 0;
  color: lighten(#3c424f, 10%);
  font-size: 16px;
  line-height: 20px !important;
  font-weight: 800;
  padding-top: 15px;
  vertical-align: middle !important;
  color: #00918e;

  @include mobile {
    font-size: 14px;
    padding-top: 10px !important;
  }
}

.result-action-buttons {
  padding-top: 15px;
  width: 100%;
  text-align: center;
  button {
    font-size: 12px;
    border: 1px solid #ccc;
    color: #555;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px;
    background-color: lighten(#ccc, 15%);
    margin-left: 10px;
    font-weight: bold;
    &:hover {
      background-color: #e6e6e6;
      transition: all 0.3s ease;
    }
  }
}

// Result table css
#result-tables {
  width: 100%;
  padding-bottom: 30px;
}

#result-contents {
  width: 100%;
  table-layout: fixed;

  td,
  th {
    line-height: 14px;
    vertical-align: top;
  }

  th {
    text-decoration: underline;
    font-weight: bold;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 10px;
    color: #525a6c;
  }

  .cell-heading {
    font-weight: bold;
    font-size: 14px;
    padding-top: 10px;
    color: #525a6c;
  }

  .cell-data {
    color: #818998;
    font-size: 14px;
  }
  .particulars-title {
    color: #00918e;
    font-weight: bold;
    text-decoration: underline;
    font-size: 12px;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  .particular-amount {
    font-size: 14px;
  }

  .particular-name,
  .additional-info {
    color: #818998;
    font-size: 12px;
    width: fit-content;
  }
}

// Email modal css

#send-email-modal .modal-content {
  background-color: white !important;
  button[type="submit"] {
    background-color: #00918e;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    &:hover {
      background-color: lighten(#00918e, 5%);
    }
  }

  #send-email-form {
    width: 100%;
    background-color: #fbfcfc;
    margin: 0;
    padding: 0;
    input {
      display: block;
      width: 100%;
      border-radius: 10px;
    }
  }
}
